BACKEND_URL=http://127.0.0.1:8081
ACCOUNT_ID=cloudflare-account-id
CLOUDFLARE_API_TOKEN=cloudflare-api-token
DATABASE_ID=dowe-docs-icons
VECTOR_HOST=local
VECTOR_PORT=4149
VECTOR_USER=dowe-docs
VECTOR_PASSWORD=local
VECTOR_DATABASE=dowe-docs
