BACKEND_URL=http://127.0.0.1:8081
DOWE_HOST=127.0.0.1
DOWE_PORT=4147
DOWE_ACCOUNT=dowe-docs
DOWE_SECRET=dowe-docs-local
CACHE_HOST=127.0.0.1
CACHE_PORT=4148
CACHE_ACCOUNT=dowe-docs
CACHE_SECRET=dowe-docs-local
QUEUE_HOST=127.0.0.1
QUEUE_PORT=4150
QUEUE_ACCOUNT=dowe-docs
QUEUE_SECRET=dowe-docs-local
QUEUE_VHOST=dowe-docs
VECTOR_HOST=local
VECTOR_PORT=4149
VECTOR_USER=dowe-docs
VECTOR_PASSWORD=local
VECTOR_DATABASE=dowe-docs
DOWE_DEPLOY_ACCESS_PASSWORD=
